# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
npm-debug.log
logs
*.log

# Misc
.DS_Store
.fleet
.idea
sw.*
static/sw.js

# Local env files
.env
.env.*
!.env.example

# Netlify
.netlify
