# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Service worker
sw.*
static/sw.js

# DS Store
*DS_Store

# Netlify
.netlify

# Static project Nuxt 3

.output
