@import url("https://rsms.me/inter/inter.css");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    font-family: "Inter var", sans-serif;
}

.measure {
    max-width: 30em;
}

.anchor {
    position: absolute;
    display: block;
    top: -96px;
    visibility: hidden;
}

/* these css changes are to be able to do the multilevel numbering on the Code
of Conduct page */
.code-of-coduct ol {
    counter-reset: section;
}

.code-of-coduct li:before {
    counter-increment: section;
    content: counters(section, ".") " ";
    visibility: hidden;
}

.code-of-coduct .multiLevelNumberNotation > li:before {
    font-weight: bold;
    visibility: visible;
}
